# Ignore model outputs
checkpoints/
outputs/
wandb/
gray_env/
unused/
scripts_tested/
docs/
models/unused/
options/unused/
scripts/
util/unused/
facenet-pytorch/
results/

# Ignore system files
.DS_Store

# Ignore Python stuff
__pycache__/
*.pyc
.env
